.cards_deck > :first-child
{
  transform: rotate(-10deg) translateY(55%);
}

.cards_deck > :last-child
{
  transform: rotate(10deg) translateY(55%);
}

.cards_deck > :nth-child(2)
{
  transform: rotate(-5deg) translateY(45%);
}

.cards_deck > :nth-last-child(2)
{
  transform: rotate(5deg) translateY(45%);
}

.card
{
  width: 150px;
  height: 225px;
  margin: 5px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px;
  transform: translateY(40%);
}

.card:hover
{
  transform: translateY(0%);
}

.card label
{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.card
{
  font-weight: bold;
}

.card img
{
  width: 100px;
  height: 100px;
}

.card_frame
{
  border: 2px solid black;
  margin:  9%;
}

.action_button
{
  color: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 25pt;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.hud_proerties label
{
  font-size: 25px;
  margin: auto;
  color: white;
  text-shadow: 2px 0 2px #000, 0 2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
  font-weight: bold;
}

.hud_icon
{
  display: inline-flex;
  background-size: 100% 100%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
