.menu_title
{
	font-size: 48pt; 
	color: white;
	margin: 0;
}

.menu_button
{
	background-color: black; 
	color: white; 
	border: 2px solid white; 
	width: 70%; 
	margin: auto; 
	margin-top: 10px;
	font-size: 20pt;
}

.menu_label
{
	font-size: 36pt; 
	color: white;
}