.cards_deck > :first-child
{
  transform: rotate(-10deg) translateY(55%);
}

.cards_deck > :last-child
{
  transform: rotate(10deg) translateY(55%);
}

.cards_deck > :nth-child(2)
{
  transform: rotate(-5deg) translateY(45%);
}

.cards_deck > :nth-last-child(2)
{
  transform: rotate(5deg) translateY(45%);
}

.card
{
  width: 150px;
  height: 225px;
  margin: 5px;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px;
  transform: translateY(40%);
}

.card:hover
{
  transform: translateY(0%);
}

.card p
{
  font-weight: bold;
}

.card_frame
{
  border: 2px solid black;
  margin:  9%;
}

.turn_menu p
{
  font-weight: bold;
  color:  white;
  font-size: 18pt;
}

.turn_menu
{
  width: 300px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

.menu_buttons
{
  width: 300px;
}

.menu_buttons :first-child
{
  transform: rotateY(180deg);
}

.menu_buttons img
{
  display: inline-block;
  filter: invert(100%);
}
